{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}">
    <title>Hotel Luxury</title>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Luxury</a></li>
                    <li><a href="{% url 'rooms' %}">Rooms</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><img src="{% static 'myapp/search.jpeg' %}" alt="search" width="20px" height="20px"></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="video-container">
        <video autoplay loop muted id="video-woman">
            <source src="{% static 'myapp/woman.mp4' %}" type="video/mp4" id="video-woman">
        </video>
    </div>
    <h3>About Us</h3>
    <img src="{% static 'myapp/gio-hotel.jpeg' %}" alt="Gio Luxury Hotel" id="hotel-gio">
    <div class="my-hotel">
        <div class="hotel-about">
            <h1 id="title">Luxury 5 Star Hotel</h1>
            <p id="italic">Luxury is a 5-star hotel located in the heart of the city. We offer the best services and
                amenities to our guests. Our rooms are spacious and comfortable. We have a restaurant, a bar, a gym, a
                spa, and a swimming pool. Our staff is friendly and professional. We are committed to providing the best
                experience to our guests. Come and stay with us and enjoy the luxury of Hotel Gio Luxury.</p>
        </div>
    </div>
    <div id="icon">
        <img src="{% static 'myapp/Hotel.jpeg' %}" alt="Hotel Gio Luxury" id="my-icon">
        <h3>Rooms</h3>
        <p id="ita">Brand By Hotel Gio Luxury best rooms at The best price</p>
        <div class="rooms">
            <div class="room">
                <img src="{% static 'myapp/room1.jpeg' %}" alt="Room 1" id="room1">
                <h4>Single Room</h4>
                <p id="ita">Single bed, TV, AC, Wi-Fi, Bathroom</p>
                <p id="price">$100 per night</p>
                <a href="{% url 'book' %}"><button id="book" type="submit">Book Now</button></a> <!-- Add link to 'book' page -->

            </div>
            <div class="room">
                <img src="{% static 'myapp/room2.jpeg' %}" alt="Room 2" id="room2">
                <h4>Double Room</h4>
                <p id="ita">Double bed, TV, AC, Wi-Fi, Bathroom</p>
                <p id="price">$150 per night</p>
                <a href="{% url 'book' %}"><button id="book">Book Now</button></a> <!-- Add link to 'book' page -->

            </div>
        </div>
        <footer>
            <div class="container">
                <div class="footer-contact">
                    <h4>Contact Us</h4>
                    <p id="ita">Address: 123 Main Street, London, LDN W37BQ</p>
                    <p id="ita">Phone: 7745-4736-39</p>
                    <p id="ita">Email: GioHotel@99.com</p>
                    <p id="ita">Follow Us</p>
                    <ul id="social-media">
                        <li><a href="https://www.facebook.com" target="_blank" rel="noopener"><i
                                    class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="https://www.twitter.com" target="_blank" rel="noopener"><i
                                    class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com" target="_blank" rel="noopener"><i
                                    class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>

    <script src="{% static 'myapp/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/c37d03c9b1.js" crossorigin="anonymous"></script>
</body>

</html>