{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}">
    <title>Login</title>
</head>
<body>
    <h1 id="book-room">Book a Room</h1>
    <form method="post" action="{% url 'login_done' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" id="book_button">
        <input type="password" name="password" placeholder="Password" id="book_button">
        <button type="submit" id="book_button">Log in</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>
